@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&family=Quicksand:wght@300;400;500&family=Rajdhani:wght@300;400;500&family=Teko:wght@300;400;500&family=Montserrat:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

#main {
  text-align: center;
  margin: 50px;
  padding: auto;
  /* border: 2px solid black;
  border-radius: 40px; */
}

h1 {
  padding: 10px;
}

img {
  padding: 10px;
}

p {
  padding: 10px;
}
#buy {
  margin-top: 15px;
  background-color: black;
  color: rgb(255, 255, 255);
  width: 10%;
  padding: 5px;
  border: rgb(17, 11, 11);
  border-radius: 20px;
  cursor: pointer;
}
#buy:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}

#form {
  justify-content: center;
  text-align: center;
  margin: 50px;
  padding: auto;
  /* display: none; */
}
input {
  width: 90%;
  outline: none;
  margin: 10px 5%;
  padding: 15px 10px;
  font-size: 14px;
  border: 2px solid silver;
  border-radius: 5px;
}

.wrapeer {
  display: none;
  width: 420px;
  background: transparent;
  color: rgb(14, 10, 10);
  border-radius: 10px;
  padding: 30px 40px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
h1 {
  font-size: 36px;
  text-align: center;
}

.input_form {
  position: relative;
  height: 50px;
  margin: 30px 0;
  width: 100%;
  background-color: transparent;
}

.input_form input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(15, 12, 12, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: rgb(7, 4, 4);
  padding: 20px 45px 20px 20px;
}

input::placeholder {
  color: rgb(6, 4, 4);
}

.input_form i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: black;
}

.remember_forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: 15px;
}
.remember_forgot input {
  accent-color: rgb(9, 6, 6);
  text-decoration: none;
  margin-right: 3px;
}

.remember_forgot a {
  text-decoration: none;
  color: rgb(21, 13, 13);
}

.remember_forgot a:hover {
  text-decoration: underline;
  color: rgb(12, 6, 6);
}

.btn {
  width: 100%;
  height: 45px;
  background: white;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}
.btn:hover {
  background-color: black;
  color: white;
}

.register {
  margin-top: 10px;
  text-decoration: none;
  color: rgb(18, 6, 6);
  text-align: center;
}
.register a {
  text-decoration: none;
  color: rgb(14, 8, 8);
  font-weight: 600;
}
.register a:hover {
  text-decoration: underline;
  color: rgb(20, 12, 12);
}
